# ---------------------------------------
# Dépendances & Logs
# ---------------------------------------
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# ---------------------------------------
# Expo & React Native
# ---------------------------------------
.expo/
dist/
web-build/
.metro-bundler-store/

# ---------------------------------------
# Environnement & Sécurité (CRITIQUE)
# ---------------------------------------
.env
.env.local
.env.development
.env.test
.env.production
*.pem

# ---------------------------------------
# Système (Mac / Windows / Linux)
# ---------------------------------------
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ---------------------------------------
# IDE & Éditeurs
# ---------------------------------------
.idea/
.vscode/
*.swp
*.swo
